.contentdiv {
  box-sizing: border-box;
  margin: 2px 0px 0px 0px;
}
.contentdiv > a > div {
  float: left;
  width: 25%;
  padding: 1px;
}
@media screen and (max-width: 900px) {
  .contentdiv > a > div {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .contentdiv > a > div {
    width: 100%;
  }
}
